# Ignore temporary / binary files
*.o
*.obj
*.a
*.pyc
*.log

# Ignore some special files
test.py

# Ignore temporary directories
__pycache__

# Ignore storage directories
postgres_data/
static/
**/logs/

.idea/
venv

# Prevent private keys and credentials to be stored inside the repo
*.env

# frontend:
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.idea
.vscode

# uploads
/public/uploads
