@use '@/styles/colors' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  background: $main-background;
  color: #525252;
  font-family:
    'Blender Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  height: 12px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $emperor;
}

@keyframes autofill {
  0%,
  100% {
    background: transparent;
  }
}

input:-webkit-autofill {
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-name: autofill;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: inset 0 0 0 50px #fff;
  -webkit-text-fill-color: #000;
}
